


<div class="wrap" role="document" id="contentuto" style="height: auto; display: block;">

  <div class="contact-header">

    <div class="contact-overlay" style="min-height: 440px;">

      <div class="container">



                  <div class="row index-row">

                      <div class="col-sm-4">
                              <div class="media">
                                  <div class="row ">
                                      <div class="media-img  pull-left   col-sm-5 col-md-4 ">
                                          <div class="img-overlay "> 
                                              <a class="btn  btn-primary  animated fadeInUp needsclick" href="/en/contacts/" rel="bookmark">Open</a> 
                                          </div>

                                          <%= image_tag('building.jpg', class: 'media-img', alt: 'Contacts', type: 'button') %>                                        
                                      </div>

                                      <div class="media-body  col-sm-7 col-md-8 ">
                                          <h4 class="media-heading"><%= link_to 'Contacts', root_path, class: 'media-heading' %></h4>
                                          <p class="hidden-sm">Where to find the <strong>Creatives</strong> contact module and more.</p>
                                      </div>
                                  </div>
                              </div>
                      </div>


                      <div class="col-sm-5 col-lg-4">
                              <div class="media">
                                  <div class="row ">
                                      <div class="media-img  pull-left   col-xs-5">
                                          <%= image_tag('building.jpg', class: 'media-img', alt: 'Contacts', type: 'button') %>                          
                                      </div>
                                      <div class="media-body  col-xs-7">
                                          <h5 class="media-heading"><%= link_to 'Contacts', root_path, class: 'media-heading' %></h5>
                                          <p class="hidden-sm">Where to find the <strong>Creatives</strong> contact module and more.
                                            <div class="img-overlay "> 
                                              <a class="btn  btn-primary  animated fadeInUp needsclick" href="/en/contacts/" rel="bookmark">Open</a> 
                                            </div>
                                          </p>
                                      </div>
                                  </div>
                              </div>
                      </div>

                  </div> 


                  <div class="contact-info">
                      <div class="container">
                          <div class="row">
                              <div class="col-md-3">
                                  <h2> Our Contacts </h2>
                              </div>
                              <div class="col-md-9">
                                  <p>
                                    <span class="icon-container">
                                        <span class="phone-icon">
                                        </span>
                                        <span class="visible-lg"> 
                                          Tel. 
                                        </span>
                                      +661 373 4185
                                    </span>
                                  </p>

                              </div>
                          </div>
                      </div>
                  </div>


      </div>

    </div>

  </div>

</div>          