@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300);

.navbar {
	border-radius: 0px;
	border-width: 0px;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 25px;
	margin: 0px;
	background-color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-default .navbar-nav > li > a {
	font-size: 18px;
	font-weight: 400;
	color: #62645c;	
}

.navbar-default .navbar-brand {
	font-size: 22px;
	font-weight: 400;
	color: #62645c;	
}

.carousel-indicators {
	bottom: 20px;
}

.big-container {
	background: #ebeeed;
	padding-top: 40px;
	padding-bottom: 90px;
}


.mid-text-container {
	text-align: center;
	margin-bottom: 55px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #424b51;
	font-size: 25px;
}

.middle-wrap {
	padding-top: 90px;
	height: 400px;
}



.media {
	background: #fff;
	border-bottom: solid 1px #c7c9c8;
	margin-bottom: 30px;
}

.media a {
	overflow: hidden;
	color: #43484D;
}

.media-img {
	overflow: hidden;
	position: relative;
	padding: 0;
}

.media-img .img-overlay {
	background: #363635;
	background: rgba(0,0,0, 0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 50%;
	text-align: center;
	z-index: 4;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50â€“12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	opacity: 0;
	visibility: hidden;
}

.lt-ie9 .media-img .img-overlay {
	filter: alpha(opacity=70);
}

.media .img-overlay a {
	display: none;
	position: relative;
	margin-top: -24px;
}

.media:hover .img-overlay a,
.media .img-overlay:hover a {
	display: inline-block;
}

.media .img-overlay h3 {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 25px;
	font-size: 18px;
	margin-top: -40px;
}

.media:hover .img-overlay,
.media .media-img:hover .img-overlay {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50â€“12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.media p {
	font-size: 14px;
	line-height: 19px;
	margin: 0px;
}

.media a:hover {
	text-decoration: none;
}

.media-body {
	padding: 20px 25px 0px 35px;
}

.media div.pull-left {
	overflow: hidden;
	margin-right: -15px;
	margin-left: 14px;
}

.media div.media-img img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 2000ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 2000ms;
	transform: scale(1, 1);
	transition-timing-function: ease-out;
	transition-duration: 2000ms;
	width: 100%;
	height: auto;
}

.media:hover div.media-img img {
	-webkit-transform: scale(1.15, 1.15);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 1500ms;
	-moz-transform: scale(1.15, 1.15);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 1500ms;
	transform: scale(1.15, 1.15);
	transition-timing-function: ease-out;
	transition-duration: 1500ms;
	position: relative;
	z-index: 3;
}



.btn {
	background: transparent;
	-webkit-transition: all 0.2s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
	-o-transition: all 0.1s ease-out;  /* Opera 10.50â€“12.00 */
	transition: all 0.1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	border: 1px solid white;
	color: white;
	padding: 7px 13px;
}

.btn:hover {
	color: #fff;
	padding: 8px 14px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #424b51;
	background: #fff;
	border-color: #fff;
	padding: 8px 14px;
}


.media a {
	color: white;
}

.media .img-overlay h3 {
	color: #fff;
	margin-bottom: 35px;
	font-size: 24px;
}

.media-heading a {
	color: #424b51;	
}

 @media (min-width: 1200px) {



.media .img-overlay h3 {
	color: #fff;
	margin-bottom: 35px;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
}




.container {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-all {
	padding-left: 0px; 
	padding-top: 60px; 
	padding-right: 0px; 
	padding-bottom: 60px;
	background-color: white;
}


.footer-1 {
	padding-left: 15px;
	padding-right: 150px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}


.footer-2 {
	padding-left: 15px;
	padding-right: 150px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}


.footer {
	height: 200px;
}

hr {
	border-top: solid 1px #90A4AE;
}

.social-icons {
	float: left;
}

.copyright {
	float: right;
	text-align: left;
}

/*
Code for contact page
*/



.contact-header {
	height: 650px;
	width: 1350px;
	margin:0px;
	background: image-url('skydive.jpg');
}




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * 
 *= require_self
 *= require_tree .
 */
